<!doctype html>
<html ng-app="myApp">
<head>
	<title>Online Shopping Checkout System</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.js"></script>
	<script src="./js/myApp.js"></script>
	<script src="./js/services.js"></script>
	<script src="./js/controllers.js"></script>

	<!-- CSS -->
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
			rel="stylesheet" type="text/css" />
	<link href="./bootstrap-3.2.0/dist/css/bootstrap.css" rel="stylesheet">

	<!-- JQUERY -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
			src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></script>

	<!-- BOOTSTRAP -->
	<script type="text/javascript"
			src="./bootstrap-3.2.0/dist/js/bootstrap.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-tags"></span> Online Shopping</a>
			</div>
			<div class="collapse navbar-collapse">
				<p class="navbar-text navbar-right">Checkout System</p>
			</div>
		</div>
	</div>
</nav>

<div class="container">

<h1>Using Spring MVC + AngularJS</h1>

<div ng-controller="MainCtrl">

	<h2>Content of the Catalogue:</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Unit Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<td>{{item.product.name}}</td>
				<td>${{item.unitPrice.amount}}</td>
				<td><input  class="btn btn-default" type="submit" ng-click="add(item.sku)" value="Add to Cart" /></td>
			</tr>
		</tbody>
	</table>

	<div>
		<h2>Cart</h2>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Product</th>
				<th>Unit Price</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="cartItem in cart.content">
				<td>{{cartItem.product.name}}</td>
				<td>${{cartItem.unitPrice.amount}}</td>
				<td><input  class="btn btn-default" type="submit" ng-click="remove(cartItem.id)" value="Remove from Cart" /></td>
			</tr>
			</tbody>
		</table>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total After Discount</h3>
			</div>
			<div class="panel-body">
				Your cart is worth <strong>${{cart.totalPriceAfterDiscount}}</strong> for <strong>{{cart.nbItems}}</strong> items
			</div>
		</div>
		
	</div>

</div>
</div>
</body>
</html>